/*!
 * ______                     __     _          ______              _
  / ____/_____ ____ _ ____   / /_   (_)_____   / ____/__  __ _____ (_)____   ____
 / / __ / ___// __ `// __ \ / __ \ / // ___/  / /_   / / / // ___// // __ \ / __ \
/ /_/ // /   / /_/ // /_/ // / / // // /__   / __/  / /_/ /(__  )/ // /_/ // / / /
\____//_/    \__,_// .___//_/ /_//_/ \___/  /_/     \__,_//____//_/ \____//_/ /_/
                  /_/

Hand forged with pride by Graphic Fusion Design Team

*/

@import "bootstrap/bootstrap.less";
@import "gfd-mixins.less";

/* ==========================================================================
   Base
   ========================================================================== */

body {
  overflow-x: hidden  //fix annoying horizontal scrollbar, thanks obama!

}




/* ==========================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

aside.sidebar.col-sm-4 {
  margin-top: 50px;
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }
.gfdcopy{}


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Side Nav for Mobile
   ========================================================================== */


#wrapper {
 // padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
//  margin-left: -250px;
//  left: 250px;
//  width: 250px;
//  top:0;
//  position: fixed;
//  height: 100%;
//  overflow-y: auto;
//  z-index: 1000;
//  transition: all 0.4s ease 0s;
}

#sidebar-wrapper .dropdown-menu {
  position: relative;
  left: auto;
  top: auto;
  display: block;
  background: none;
  border: none;
  padding-left: 15px;
  box-shadow: none;
}

#sidebar-wrapper :hover {
  background: none;
}

#content-wrapper {
  width: 100%;
}

#sidebar-wrapper .navbar-nav {
  navbar-nav: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#sidebar-wrapper .navbar-nav li {
  line-height: 40px;
  text-indent: 20px;
  border-bottom: 1px solid darken(@brand-primary,40%);
  padding: 5px;
}

#sidebar-wrapper .navbar-nav li a {
  display: block;
  text-decoration: none;
  text-transform:uppercase;
  padding-left:0px;
}

#sidebar-wrapper .navbar-nav li a:active,
#sidebar-wrapper .navbar-nav li a:focus {
  text-decoration: none;
}

#sidebar-wrapper .navbar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

#wrapper {
  padding-left: 0;
}


#menu-toggle {
  display: inline-block;
}

ul.nav li.dropdown:hover ul.dropdown-menu{ display: block;}
#sidebar-wrapper ul.dropdown-menu li{ border-left: 1px solid darken(@brand-primary,40%);}

.inset { padding: 15px;}
.navbar{z-index: 99;}
.navbar-toggle{z-index: 100; position: absolute; right: 10px;}
//--------------push effect----------------------
//-----------Other options http://tympanus.net/Development/SidebarTransitions/ -------
.st-effect-7.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}

.st-effect-7 .st-pusher {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.st-effect-7.active .st-pusher {
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}

.st-effect-7.st-menu {
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.st-effect-7.active .st-effect-7.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  transform: translate3d(-100%, 0, 0) rotateY(0deg);
}
//---- end of the effect ---

//---- ALTERNATIVE EFFECT (disable above first before enabling ----

//.st-effect-7.st-container {
//  -webkit-perspective: 1500px;
//  perspective: 1500px;
//}
//
//.st-effect-7 .st-pusher {
//  -webkit-transform-origin: 0% 50%;
//  transform-origin: 0% 50%;
//  -webkit-transform-style: preserve-3d;
//  transform-style: preserve-3d;
//}
//
//.st-effect-7.active .st-pusher {
//  -webkit-transform: translate3d(250px, 0, 0) rotateY(-15deg);
//  transform: translate3d(300px, 0, 0) rotateY(-15deg);
//}
//
//.st-effect-7.st-menu {
//  -webkit-transform: translate3d(-100%, 0, 0);
//  transform: translate3d(-100%, 0, 0);
//  -webkit-transform-origin: 100% 50%;
//  transform-origin: 100% 50%;
//  -webkit-transform-style: preserve-3d;
//  transform-style: preserve-3d;
//}
//
//.st-effect-7.active .st-effect-7.st-menu {
//  visibility: visible;
//  -webkit-transition: -webkit-transform 0.5s;
//  transition: transform 0.5s;
//  -webkit-transform: translate3d(-100%, 0, 0) rotateY(15deg);
//  transform: translate3d(-100%, 0, 0) rotateY(15deg);
//}
//
//.st-effect-7.st-menu::after {
//  display: none;
//}
//=============================




.active .st-pusher:after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.st-pusher:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-container {
  position: relative;
  overflow: hidden;
}

.st-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  width: 250px;
  height: 100%;
  background: darken(@brand-primary,45%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.st-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.stickyfooter {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer {
  min-height: 60px;
  background: lighten(@brand-primary, 20%);
  padding-top: 20px;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) {
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: none;
  }
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: left;
  }
}

@media (min-width: @screen-md-min) {
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: left;
  }
}

@media (min-width: @screen-lg-min) {

  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1){
    clear: left;
  }
}
